<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>amelie vogel photography</title>
    <meta name="author" content="Amelie Vogel">
    <meta name="description" content="This is a portfolio for my photographs and artwork.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

</head>
  <body>
    {% block body %}{% endblock %}
    <script src="js/app.min.js"></script>
  </body>
</html>