html {
  background: white;
  font-family: 'Roboto', sans-serif;
}

.headline {
  animation: textChangeColor 7s linear infinite;
}

@keyframes textChangeColor {
  0% {
    color:#942E50;
  }
  50% {
    color: #007691;
  }
  100% {
    color: #942E69;
  }
}

.gif {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-name: gifblink;
  animation-iteration-count: infinite;
}

.gif-text {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  white-space: nowrap;
}

@keyframes gifblink {
  0% {
      background-color: #C400FF;
  }

  50% {
      background-color: #FF00BC;
  }

  100% {
      background-color: #22FF00;
  }
}

.teaser {
  margin: 20px auto;
  max-width: 400px;
}

.teaser img {
  max-width: 400px;
  height: auto;
}

.teaser:hover {
  cursor: pointer;
}

.photos {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.caption {
  text-align: center;
  display: block;
  margin: 20px 0 40px 0;
}

h1 {
  color: black;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.backlink {
  text-decoration: none;
}

.backlink:hover {
  text-decoration: underline;
}

.infobox {
  display: none;
}

.teaser-showinfo .infobox {
  display: block;
}

@media (min-width: 40em) {
  h1 {
    margin: 80px 0 100px 0;
    font-size: 60px;
  }
}

.about {
  width: 400px;
  text-align: left;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

