{% extends "base.njk" %}

{% block body %}
    <header>
        <div class="headline">
            <h1>EXHIBITIONS</h1>
            <h2>AMELIE VOGEL</h2>
        </div>
    </header>

    <main>

        <div class="wrapper">
            <div class="teaser">
                <div class="gif teaserimage">
                    <p class="gif-text ">ABOUT THESE EXHIBITIONS</p>
                </div>
                <div class="infobox">
                    <p class="info">wouldn't it be nice if everyone could have her own exhibition in her own museum? with all the artworks and projects from the depths of the filemanager? i welcome you to my museum, enjoy the exhibitions.<br>i'm amelie vogel, part time artist/photographer and collector of paper scraps of all sorts. looking for beauty and poetry in everyday things and situations.<br><br>
                        <a href="mailto:contact-amelievogel@gmail.com">contact-amelievogel@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="teaser">
                <img class="teaserimage" src="images/startphoto.jpg" alt="waterfall in berlin">
                <div class="infobox">
                    <a class="teaserlink" href="photos.html">photography</a>
                    <p class="info">architecture-photographs and motifs i found in cologne and everywhere.</p>
                </div>
            </div>
            <div class="teaser">
                <img class="teaserimage" src="images/startcacti.jpg" alt="beautiful cactus blossom">
                <div class="infobox">
                    <a class="teaserlink" href="cacti.html">strange plants</a>
                    <p class="info">digitalized slides of cactus beauties my dad took at cactus fairs in the 80s.</p>
                </div>
            </div>
            <div class="teaser">
                <img class="teaserimage" src="images/startmaps.jpg" alt="marbled landscape">
                <div class="infobox">
                    <a class="teaserlink" href="marble.html">marblemaps</a>
                    <p class="info">photos taken in googlemaps - circle crops in the desert and marvellous marble.</p>
                </div>
            </div>
            <div class="teaser">
                <img class="teaserimage" src="images/startbanana.jpg" alt="banana dressed up">
                <div class="infobox">
                    <a class="teaserlink" href="banana.html">alter ego</a>
                    <p class="info">illustrations of my life as a banana.</p>
                </div>
            </div>
        </div>

    </main>
{% endblock %}