{% extends "base.njk" %}

{% block body %}
    <header>
        <h1>amelie vogel <br> photography</h1>
    </header>

    <main>
    <div class="wrapper">

        <div class="teaser">
            <img class="teaserimage" src="images/startphoto.jpg" alt="waterfall in berlin">
            <div class="infobox">
                <a class="teaserlink" href="photos.html">photography</a>
                <p class="info">architecture and motifs that i found in cologne and everywhere.</p>
            </div>
        </div>
        <!--<div class="teaser">
            <img class="teaserimage" src="images/startmaps.jpg" alt="marbled landscape>
            <div class="infobox">
                <a class="teaserlink" href="url">marblemaps</a>
                <p class="info">photos taken in googlemaps - circle crops and marvellous marble.</p>
            </div>
        </div> -->
        <div class="teaser">
            <img class="teaserimage" src="images/startcacti.jpg" alt="beautiful cactus blossom">
            <div class="infobox">
                <a class="teaserlink" href="cacti.html">strange plants</a>
                <p class="info">photos of cactus beauties.</p>
            </div>
        </div>
    </div>

    <div class="about">
        <p>i'm amelie vogel, photographer based in cologne, germany. in love with modern architecture and lost-and-found
            motifs. looking for beauty and poetry in everyday situations.</p>
            <a href="mailto:contact-amelievogel@gmail.com">contact-amelievogel@gmail.com</a>
    </div>
    </main>
{% endblock %}