{% extends "base.njk" %}

{% block body %}
    <header>
        <h1 ><a class="backlink" href="/">amelie vogel <br> photography</a></h1>
    </header>

    {% for image in imagePhotos %}
        <img class="photos" src="images/photo/{{image.src}}" alt="{{image.alt}}" title="{{image.title}}"> 
        <span class="caption">{{image.title}}</span>
    {% endfor %}
{% endblock %}